*{
	margin:0;
	padding: 0;
	
}

body{
	background: #3B3E47;
	transition: all .1s ease-in;
	font-family: 'Roboto', sans-serif;
	
}

header{
	background: #4A4E57;
	text-align: center;
	color:	#BF8184;
	margin-top: -20px;
}

p{
	font-size: 20px;
	padding-bottom: 10px;
}

.shop-list{
	width: 50%;
	margin: 30px auto;
	color: white;
	
}

ul{
	list-style-type: none;
}

li{
	padding: 15px;
}

footer{
	background: #4A4E57;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	color:	#BF8184;
}

.first1{
	background: #8883A1;
}

.first2{
	background: #7A7691;
}

li:hover{
	background: #625E79;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}

li:active{
	background: #C36F71;
}

input:checked + span{
	text-decoration: line-through;
}
